@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* Tiptap Editor Styling */
.ProseMirror {
  padding: 1rem;
  min-height: 500px;
  outline: none;
}

.ProseMirror img {
  max-width: 100%;
  height: auto;
  margin: 1rem 0;
}

.ProseMirror ul,
.ProseMirror ol {
  padding-left: 2rem;
}

.ProseMirror h1 {
  font-size: 2em;
}

.ProseMirror h2 {
  font-size: 1.5em;
}

.ProseMirror h3 {
  font-size: 1.17em;
}

/* Ensure Tiptap content displays properly */
.ProseMirror {
  >*+* {
    margin-top: 0.75em;
  }

  ul,
  ol {
    padding: 0 1rem;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  img.ProseMirror-selectednode {
    outline: 3px solid #68CEF8;
  }
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}